<main id="content">
    <div id="blog-wrapper" class="container">
        <div class="row">
            <div class="sidebar">
                <nav id="sidebar" class="sidebar">
                    <ul class="nav flex-column">
                        <!-- Search Bar -->
                        <li class="nav-item">
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control" type="search" id="searchInput" placeholder="Search" aria-label="Search"> 
                                <button id="reverseSortButton" class="btn btn-outline-secondary my-2 my-sm-0" type="button">Reverse</button>
                            </form>
                        </li>
                        <!-- List of Cards (Scrollable) -->
                        <li class="nav-item">
                            <div class="overflow-auto" style="max-height: 400px;">
                                <div id="cards" hx-get="/../v1/htmx/blog/items" hx-trigger="load"></div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            
            <div id="blog-container" class="main-content">
                <div class="card blog-card" hx-get="/../v1/htmx/blog/entry?id=1" hx-target="#blog-container" hx-trigger="load" hx-swap="inner-html"></div>
            </div>
        </div>
    </div>
</main>

<script>
    function loadBlogItems(search) {
        htmx.ajax('GET', `/../v1/htmx/blog/items?filter=${search}&sort=${window.blogSorted}`, '#cards');
    }

    var searchInput = document.getElementById('searchInput');

    searchInput.addEventListener('input', function () {
        const searchTerm = this.value; 
        loadBlogItems(searchTerm);
    });

    window.blogSorted = "desc"; 

    function reorderBlogs() {
        window.blogSorted  = window.blogSorted === "desc" ? "asc" : "desc";
        loadBlogItems(document.getElementById("searchInput").value);
    }

    var reverseSortButton = document.getElementById('reverseSortButton');

    reverseSortButton.addEventListener('click', function(event) {
        reorderBlogs();
    });

</script>