<h1>My hacky little blog system</h1>
<p>Here's how the blog system works.</p>
<p>First we have a little json to store the contents of this list:</p>

<pre hx-disable class="theme-atom-one-dark shadow-3xl text-sm relative overflow-hidden max-w-full tab-size h-full"><code class="language-json">
[
    {
        "id": 0,
        "date": "9/28/23",
        "displayTitle": "Hello World"
    },
    {
        "id": 1,
        "date": "9/29/23",
        "displayTitle": "About this site"
    },
    {
        "id": 2,
        "date": "9/30/23",
        "displayTitle": "About the blog system"
    }
]
</code></pre>

<p>That gives us all we need to create an endpoint that generates sortable and filterable cards that can then use htmx to load in the corresponding blog:</p>

<pre hx-disable class="theme-atom-one-dark shadow-3xl text-sm relative overflow-hidden max-w-full tab-size h-full"><code class="language-javascript">
app.get('/v1/htmx/blog/items', async (req, res) => {
    const filter = req.query.filter;
    const sort = req.query.sort;
    res.send(await Blog.getCards(filter, sort))
});
</code></pre>

<pre hx-disable class="theme-atom-one-dark shadow-3xl text-sm relative overflow-hidden max-w-full tab-size h-full"><code class="language-javascript">
const fs = require('fs').promises;

class Blog {
    static async getCards(filter, sort) {
        try {
            const data = await fs.readFile('components/blog/blogEntries.json', 'utf8');
            const jsonData = JSON.parse(data);
            let cards = "";

            const filteredEntries = filter
                ? jsonData.filter(bmd => bmd.displayTitle.toLowerCase().includes(filter.toLowerCase()))
                : jsonData;

            const sortedEntries = filteredEntries.sort((a, b) => {
                const dateA = new Date(a.date);
                const dateB = new Date(b.date);
                return sort === 'asc' ? dateA - dateB : dateB - dateA;
            });

            sortedEntries.forEach(bmd => {
                cards += `
                &lt;div class="card blog-card" hx-get="/api/v1/htmx/blog/entry?id=${bmd.id}" hx-target="#blog-container" hx-swap="inner-html"&gt;
                    &lt;div class="card-body"&gt;
                        &lt;h5 class="card-title"&gt;${bmd.date}&lt;/h5&gt;
                        &lt;p class="card-text"&gt;${bmd.displayTitle}&lt;/p&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                `;                
            });

            return cards;
        } catch (error) {
            console.error('Error reading or parsing JSON file:', error);
            return "";
        }
    }
}


module.exports = Blog;    
</code></pre>
    
<p>Here's the content that consumes it:</p>

<pre hx-disable class="theme-atom-one-dark shadow-3xl text-sm relative overflow-hidden max-w-full tab-size h-full"><code class="language-html">
&lt;main id="content"&gt;
    &lt;div id="blog-wrapper" class="container"&gt;
        &lt;div class="row"&gt;
            &lt;div class="sidebar"&gt;
                &lt;nav id="sidebar" class="sidebar"&gt;
                    &lt;ul class="nav flex-column"&gt;
                        &lt;!-- Search Bar --&gt;
                        &lt;li class="nav-item"&gt;
                            &lt;form class="form-inline my-2 my-lg-0"&gt;
                                &lt;input class="form-control" type="search" id="searchInput" placeholder="Search" aria-label="Search"&gt; 
                                &lt;button id="reverseSortButton" class="btn btn-outline-success my-2 my-sm-0" type="button"&gt;Reverse Sort&lt;/button&gt;
                            &lt;/form&gt;
                        &lt;/li&gt;
                        &lt;br/&gt;
                        &lt;!-- List of Cards (Scrollable) --&gt;
                        &lt;li class="nav-item"&gt;
                            &lt;div class="overflow-auto" style="max-height: 400px;"&gt;
                                &lt;div id="cards" hx-get="/api/v1/htmx/blog/items" hx-trigger="load"&gt;&lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/nav&gt;
            &lt;/div&gt;
            
            &lt;div id="blog-container" class="main-content"&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/main&gt;

&lt;script&gt;
    function loadBlogItems(search) {
        htmx.ajax('GET', `/api/v1/htmx/blog/items?filter=${search}&amp;sort=${window.blogSorted}`, '#cards');
    }

    var searchInput = document.getElementById('searchInput');

    searchInput.addEventListener('input', function () {
        const searchTerm = this.value; 
        loadBlogItems(searchTerm);
    });

    window.blogSorted = "desc"; 

    function reorderBlogs() {
        window.blogSorted  = window.blogSorted === "desc" ? "asc" : "desc";
        loadBlogItems(document.getElementById("searchInput").value);
    }

    var reverseSortButton = document.getElementById('reverseSortButton');

    reverseSortButton.addEventListener('click', function(event) {
        reorderBlogs();
    });

&lt;/script&gt;
</code></pre>

<p>Finally we just have {id}.html files that contain the html for blog entries. We use highlight.js for code snippets.</p>

<script>
    hljs.highlightAll();
</script>
    