<h1>Plans with this site.</h1>

<p>I originally made this site as a portfolio in college to track my project and help me find my first dev job. However now most of these projects are unimpresive and at a minimum, dated.</p>

<p>I'll keep the BAM and RBY2k20 Stuff here longterm since there are still pretty impressive in scope, and are still more or less great solutions to the problem they were solving.</p>

<p>With that being said they don't really represent industry standard technologies. Sure JavaScript and even php are all over the place. But the days of plain old JS on a page are over and the php I employ is old and simple.</p>

<p>Because of this I need to explore new technologies and build new projects. I'm starting with rebuilding this site with htmx and node.</p>

<p>I also want to build the following: A power ranking app, (kinda like that tierlist you see everywhere), a program that lets you schedule script to run in Windows Poswershell, a browser based text editor, and a browser bot for a game I play (Grepolis).</p>

<p>I also want to refresh on the following technologies or build portfolio pieces for the first time. React, C#, Java, PHP. Python</p>

<p>I also want to try other JS frameworks, Svelte and Vue. I also want to try some more niche and hyped languages. Go, Kotlin, Zig, Rust, Odin, and OCaml all come to mind. I also want to try using a document db like MongoDB</p>

<p>I'm not sure what technologies will be used on what projects yet but I have plenty of options. I'll need more projects but these will probably take months to build so I can figure that out later.</p>