<main id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <section class="text-centered">
                    <h1>A Bit About Myself (Trust me you don't want a byte)</h1>
                    <img src="assets/images/domprofile.png" class="central-image" style="width: 25%;" alt="Dom Yakoubek profile photo">
                    
                    <p>
                        Hey there, I'm Dom Yakoubek, a Software Engineer at Paylocity. I specialize in fullstack development with C# and React using JavaScript/TypeScript. While I contribute to various products, I primarily work with our .NET C# and TypeScript/React stack to streamline our client onboarding process for Implementation Consultants. I'm also the developer behind the small green help button you'll find on every page — with its advanced admin functionality, I might be the only one who fully understands how it works!
                    </p>
                    
                    <p>
                        Previously, I worked as a Solutions Engineer at Datatelligent, a company providing Data Analytics as a Service (DaaS). My role focused on ETL processes, utilizing Azure services such as Data Factory and Power Automate to transfer data from spreadsheets and third-party APIs to Snowflake data lakes. This data powered PowerBI dashboards for clients including C&K Trucking and Gene B. Glick.
                    </p>
                    
                    <p>
                        Outside of work, I have diverse interests including politics, Fantasy Football, Yugioh, and Pokémon. Some of my most significant projects have centered around my passion for Pokémon. I collaborated with friends on BAM (Build-A-Metagame), creating a mod for <a href="https://pokemonshowdown.com/" target="_blank">Pokémon Showdown</a> that involved designing fictional Pokémon to build a balanced competitive environment from scratch. We also developed RBY2k20 as a community hub for Generation 1 Pokémon enthusiasts. Though both projects are no longer active, they were labors of love for many years.
                    </p>
                </section>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</main>