<main id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <section class="text-centered">
                    <h1> A Bit About Myself (Trust me you don't want a byte)</h1>
                    <img src="assets/images/domprofile.png" style="width: 25%;" class="central-image"">
						<br>
							<br>
								<p>
                    Hey there, I'm Dom Yakoubek, a Software Engineer at Paylocity. I'm a fullstack developer with a specialty in C# and JavaScript/TypeScript. I work on various products there but primarily work with .Net C# and Typescript w/ React as a framework as it's our primary stack. I mainly work on products that help make our onboarding process easier for our Implementation Consultants who onboard our clients. I'm also the one who coded the shitty little green help button on every page and am probably the only person who knows how it works (It does some fancy stuff for admins).
                </p>
								<p>
                    Prior to Paylocity I worked at Datatelligent, which provides Data Analytics as a Service (DaaS), as a Solutions Engineer. I primarily did ETL work. Using Azure services like Data Factory and Power Automate to move data from spreedsheets and 3rd party APIs to data lakes in Snowflake to be consumed by PowerBI dashboards. This was primarily done for our clients C&K Trucking and Gene B. Glick.  
                
									<p>
                    I have a lot of hobbies. Politics, Fantasy Football, Yugioh, and Pokemon just to name a few. Some of the biggest projects I've worked on showcased my love of pokemon. BAM or build-a-metagame is a project I've spent countless hours working with a group of friends to build a mod for a website called 
										<a href=" https://pokemonshowdown.com/" target="blank">Pokemon Showdown</a> that involved making fake pokemon in an attempt to start from scratch and make a balanced metagame. We also created RBY2k20 as a hub for gen 1 Pokemon. Both these projects are now defunct, and have been so for years.</p>
                    <p></p>
                </section>
            </div>
        </div>
        <div class="row"></div>
</main>